# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local
*.local

# Test coverage
coverage/

# Cache
.cache/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/

# OS files
.DS_Store

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?